@font-face {
    font-family: bebas_nue;
    src: url("C:\\codeine\\html(CST1340)\\coursework_CST1340\\BebasNeue-Regular.woff");
}

@font-face {
    font-family: searocks;
    src: url("C:\\codeine\\html(CST1340)\\coursework_CST1340\\Searocks TTF.ttf");
}

:root {
    --pineGreen: #095C10;
    --pineGradient: linear-gradient(90deg, white, #095C10, white);
}

body {
    display: unset;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Coolvetica', 'britannic', 'bebas_nue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: flex;
    position: fixed;
    position: -webkit-sticky;
    justify-content: left;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.95);
    width: 100vw;
    top: 0px;
    height: 48px;
    z-index: 30;
    border-bottom: 1px solid;
    border-image: var(--pineGradient) 1;
}

.navigation {
    display: flex;
    width: 100vw;
    z-index: 30;
    align-items: center;
    justify-content: right;
}

.header {
    color: var(--pineGreen);
    text-decoration: none;
    position: relative;
    left: 20px;
    
}

ul#navigation {
    list-style-type: none;
    margin-right: 120px;
}

li {
    float: left;
}

li a {
    position: relative;
    color: var(--pineGreen);
    display: inline;
    padding-right: 30px;
    text-decoration: none;
    left: 100px;
}

li a:hover {
    color: #20A82B;
}

section {
    position: absolute;
    z-index: 3;
}

#home {
    width: 100%;
    height: 200%;
    top: 0px;
    left: 0px;
}

#best_sellers {
    width: 100%;
    height: 300px;
    bottom: 20%;
}

.container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    z-index: 100;
}

.container h1 {
    position: absolute;
    margin-top: 0px;
    font-size: 50px;
    color: var(--pineGreen);
    margin-bottom: 0;
}

.books {
    position: absolute;
    top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.book-big {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 3px 10px 1px black;
}

/* #book-1 {
    background-color: red;

}

#book-2 {
    background-color: green;

}

#book-3 {
    background-color: blue;
} */

/* #carousel {
    position: absolute;
    top: 320px;
    left: 150px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
}

#carousel p {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: 45px;
    color: var(--pineGreen);
} */

#bgImg {
    position: absolute;
    height: auto;
    max-width: 100%;
    z-index: 0;
    background-size: contain;
    top: -80px;
}

.poster {
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 100;
    background-color: var(--pineGreen);
    height: 20px;
}

.poster p {
    font-family: Coolvetica;
    margin-top: 15px;
    font-size: 5rem;
}

#about_us {
    background-color: gray;
    height: auto;
    width: 100%;
    position: absolute;
    top: 200%;
}

#AB1{
    height: 862.5px;
    background-color: #2F3435;
    
}

#banner {
    width: 1200px;
    height: 400px;
   
 }

 #textbg {
    width:600px;
    height: 400px;
    float: left;
    transform: translate(15%, 80%);
    
}

#textbg img{
    width:600px;
    height: 400px;
    top: 50%; 
    box-shadow: 5px 5px 20px grey;
    
    
}

#text{
    text-align: justify;
    top: 2px;
    position: absolute;
    width: 500px;
    height: 300px;
    padding: 50px;
    color: #D1D0CE;
}

#openingHours {
    width:600px;
    height: 200px;
    float: right;
    transform: translate(30%, -80%);
    box-shadow: 5px 5px 20px grey;
    border: 4px solid #0E6655;
    text-align: center;
    align-items: center;
    padding: 50px 0;
    color:#DEE8E6;
  
}

#AB2{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 862.5px;
    background-color: #E5E4E2;
   
}

#video {
    width:600px;
    height: 400px;
    float: left;
    transform: translate(50%);
    
}

#donationInfo {
    transform: translate(1%);
}

#donationInfo a{
    color:#2F3435;
    font-family: Lucida;
    padding: 10px 20px;
    margin-right: 16px;
    text-decoration: none;
    border: 2px solid #2F3435;
    border-radius: 25px;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    

}

#AB3{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 550px;
    background-color: #2F3435;

}

#contain { 
    width: 100%;
    height: auto;  
    text-align: center;
}

#box {
    width: 220px;
    height: 500px;
    display: inline-block;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    margin: 0 1%;
    box-shadow: 5px 5px 20px grey;
    
}

#box img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #0E6655 ;
}

#box h2 {
    font-family: Perpetua;

}

#row2 {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-family: Helvetica;  

}

#col {
    flex-basis: 25%;
    padding: 10px;
}

#col:nth-child(2), #col:nth-child(3) {
    flex-basis: 15%;
    padding: 10px;
}

#col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

#col ul li{
    list-style: none;
    margin-bottom: 12px;
    transform: translate(-30px, 2px);
}

#col ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

#smIcons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000000;
    background: #FFFFFF;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #cccccc;
    margin: 20px auto;
}

#copyRight{
    text-align: center;
    font-family: Helvetica;
}

#underline {
    width: 100%;
    height: 5px;
    background: #67928A;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

#underline span{
    width: 15px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: sliding 2s linear infinite;
}
@keyframes sliding {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

footer {
    position: absolute;
    background: linear-gradient(to right,#242726, #4A4D4C  );
    color: white;
    bottom: -547.5%;
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 20px 0 10px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}


/*Donation page*/

#basket {
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 50px;
    display: flex;
    align-items: center;
  }
  
  #hero {
  background-image: url("bg1.png");
  width: 100%;
  height: 100vh;
  color: #FFFFFF;
  }
  
  #info #row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 30px;
  }
  
  #info a{
      color:#FFFFFF;
      font-size: 20px;
      padding: 10px 15px;
      margin-right: 16px;
      text-decoration: none;
      border: 2px solid #FFFFFF;
      border-radius: 25px;
  
  }
  
  
  
   

/* .justify {
    position: absolute;
    left: 25px;
}

.scrollable {
    width: 200px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 0;
}

.scrollable img {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 0px;
    box-shadow: 2px 5px 15px black;
}

.scrollable img:first-child {
    z-index: 1;
}

.scrollable img:nth-child(2) {
    z-index: 0;
}

.nav-button {
    position: absolute;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 20;
    top: 300px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: darkgrey;
}

@keyframes scroll {
    0% {
        transform: translate(0px)
    }

    25% {
        transform: translate(-100vw)
    }

    50% {
        transform: translate(-200vw)
    }

    75% {
        transform: translate(-300vw)
    }

    100% {
        transform: translate(0vw);
    }
}